[alias]
  st = status
  br = branch
  co = checkout
  rhh = reset HEAD --hard
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
  conflictstyle = diff3
[user]
  name = Christopher Poenaru
  email = kiambogo@gmail.com
[core]
  editor = vim
[color]
  ui = true
[pull]
  rebase = true
