[alias]
  st = status
  br = branch
  co = checkout
  rhh = reset HEAD --hard
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%Y-%m-%d %H:%M:%S'
[merge]
  conflictstyle = diff3
[user]
  name = Christopher Poenaru
  email = kiambogo@gmail.com
[core]
  editor = vim
  excludesFile = ~/.gitignore
[color]
  ui = true
[pull]
  rebase = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pager]
	branch = false
