[alias]
  st = status
  br = branch
  co = checkout
  rhh = reset HEAD --hard
[merge]
  conflictstyle = diff3
[user]
  name = Christopher Poenaru
  email = kiambogo@gmail.com
[core]
  editor = vim
[color]
  ui = true
[pull]
  rebase = true
