* {
    border:        none;
    border-radius: 0;
    font-family:   Telegrama;
    font-size:     19px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    background: transparent;
}

window#waybar.default box.horizontal {
    padding: 0 3px 0 3px;
}

#workspaces button {
    background: transparent;
}

#workspaces button:hover label {
    color: black;
}

#workspaces label {
    font-size: 25;
}

#workspaces button.urgent {
    color: red;
}

/* Left modules */
.modules-left label  {
    padding: 0 15px;
    color: #FFFFFF;
}
.modules-left > widget:first-child {
    background: rgba(54, 2, 89, 0.9);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.modules-left > widget:nth-child(2) {
    background: rgba(72, 28, 111, 0.9);
}
.modules-left > widget:nth-child(3) {
    background: rgba(91, 50, 134, 0.9);
}
.modules-left > widget:nth-child(4) {
    background: rgba(110, 72, 157, 0.9);
}
.modules-left > widget:nth-child(5) {
    background: rgba(129, 94, 181, 0.9);
}
.modules-left > widget:nth-child(6) {
    background: rgba(149, 117, 205, 0.9);
}
.modules-left > widget:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

/* Center modules */
.modules-center {
    color: black;
    background: rgba(207, 186, 245, 0.9);
    border-radius: 18px;
}
.modules-center label {
    color: black;
    padding: 0 15px;
}

/* Right modules */
.modules-right label {
    color: white;
    padding: 0 15px;
}

.modules-right > widget:first-child {
    background: rgba(149, 117, 205, 0.9);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.modules-right > widget:nth-child(2) {
    background: rgba(129, 94, 181, 0.9);
}
.modules-right > widget:nth-child(3) {
    background: rgba(110, 72, 157, 0.9);
}
.modules-right > widget:nth-child(4) {
    background: rgba(91, 50, 134, 0.9);
}
.modules-right > widget:nth-child(5) {
    background: rgba(72, 28, 111, 0.9);
}
.modules-right > widget:nth-child(6) {
    background: rgba(72, 28, 111, 0.9);
}
.modules-right > widget:nth-child(7) {
    background: rgba(54, 2, 89, 0.9);
}
.modules-right > widget:last-child {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color: #011627;
}

#mode {
    font-size: 24;
    background: transparent;
    padding: 10px;
}
